.center-block {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
}

.heading-style {
    font-size: 30px;
    color: black;
}


.yellow-highlight-form {
    border-color: #ffc207;
    box-shadow: 0 0 25px #ffc207;
}
