{% load crispy_forms_tags %} {% block event_form_content %}
<h2>Заполните форму для добавления Event</h2>
<form method="post" action="{% url 'events:make_event' %}" class="row g-3">
  {% csrf_token %}
  <div class="col-md-8">
    {{ event_form.as_p }}
  </div>
  
  <div class="col-md-4">
    <div class="form-group btn1">
      <a href="{% url 'events:make_filter' %}" class="btn btn-outline-warning">Добавить новый фильтр</a>
    </div>
    
    <div class="form-group btn2-3">
      <a href="{% url 'events:make_eventdirect' %}" class="btn btn-outline-warning">Добавить direct</a>
      <a href="{% url 'events:make_eventembed' %}" class="btn btn-outline-warning">Добавить embed</a>
    </div>
  </div>
  
  <div class="col-12">
    <button type="submit" class="btn btn-outline-warning">Добавить Event</button>
  </div>
</form>
{% endblock %}
