{% extends "app_users/base.html" %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block login_form %}
    <h1 class="mb-4 text-center heading-style">Авторизация</h1>
    <form method="post">
        <div class="center-block">
        {% csrf_token %}
        <div class="mb-3 yellow-highlight-form">
            {{ form.username }}
        </div>
        <div class="mb-3 yellow-highlight-form">
            {{ form.password }}
        </div>
        <button type="submit" class="btn btn-outline-warning">Войти</button>
    </form>
    </div>
{% endblock %}
