{% extends "app_users/base.html" %}

{% block title %}
    Events app
{% endblock %}

{% block all_events %}
<div class="container mt-3">
    <h2>Созданные Ивенты</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Ивенты</th>
                <th>Фильтры</th>
                <th>Эндпоинты</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ event.name }}</td>
                    <td>
                        {% for filter in event.filters.all %}
                            {{ filter.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for endpoint in event.endpoints.all %}
                            {{ endpoint.name }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
