{% extends "app_users/base.html" %} {% block title %} Events app {% endblock %}
{% block all_events %}
<div class="container mt-3">
  <h2>Список созданных Ивентов</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Ивенты</th>
        <th>Фильтры</th>
        <th>Эндпоинты</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr>
        <th>{{ forloop.counter }}</th>
        <td>{{ event.name }}</td>
        <td>
          {% for filter in event.filters.all %} {{ filter.name }}
          {% if not forloop.last %}, {% endif %} 
          {% endfor %}
        </td>
        <td>
          {% for endpoint in event.endpoints.all %} {{ endpoint.name }}
          {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td>
          <button
            type="button"
            class="btn btn-danger"
            data-bs-toggle="modal"
            data-bs-target="#confirmDeleteModal{{ event.id }}"
          >
            Удалить
          </button>
          <div
            class="modal fade"
            id="confirmDeleteModal{{ event.id }}"
            tabindex="-1"
            aria-labelledby="confirmDelete"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="confirmDelete">
                    Подтверждение удаления
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>
                    Вы уверены, что хотите удалить ивент "{{ event.name }}"?
                  </p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Отмена
                  </button>
                  <form
                    method="post"
                    action="{% url 'events:del_events' pk=event.id %}"
                  >
                    {% csrf_token %}
                    <input
                      type="hidden"
                      name="next"
                      value="{{ request.path }}"
                    />
                    <button type="submit" class="btn btn-danger">
                      Удалить
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div>
            <form
              method="post"
              action="{% url 'events:upd_events' pk=event.id %}"
            >
              {% csrf_token %}
              <input
                type="hidden"
                name="next"
                value="{{ request.path }}"
              />
              <button type="submit" class="btn btn-secondary">
                Изменить
              </button>
            </form>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <nav aria-label="...">
    <ul class="pagination">
      <li
        class="page-item {% if not page_obj.has_previous %}disabled{% endif %}"
      >
        <a
          class="btn btn-outline-warning"
          style="margin-right: 10px"
          href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}"
          tabindex="-1"
          >Назад</a
        >
      </li>
      <li class="page-item disabled">
        <a class="page-link" href="#">{{ page_obj.number }}</a>
      </li>
      <li class="page-item disabled"><a class="page-link" href="#">/</a></li>
      <li class="page-item disabled">
        <a class="page-link" style="margin-right: 10px" href="#"
          >{{page_obj.paginator.num_pages}}</a
        >
      </li>
      <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
        <a
          class="btn btn-outline-warning"
          href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}"
          >Вперед</a
        >
      </li>
    </ul>
  </nav>
</div>
{% endblock %}
